/* Header & Navigation */

/* **************************************** */

/* HERO SECTion */

/* **************************************** */
.hero-section {
  padding: 4.8rem;
  background-color: #010300;
}

.hero {
  width: 130rem;
  margin: 0 auto;
  padding-top: 3.2rem;
  font-family: "Jost", serif;
}

.hero--text-box {
  padding-top: 4.8rem;
}

.text-box-intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background-color: #adb5bd38;
  width: 36rem;
  border: none;
  border-radius: 50px;
  margin-bottom: 1.6rem;
}

.key-txt {
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  background-color: #fab005;
  margin-right: 0.6rem;
}

.intro-text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.primary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  letter-spacing: 0.5;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.span {
  color: #159057;
}

.hero-descripton {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 300;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: auto;
}

/* SEARCH  */
.hero-search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
  background-color: #fff;
  max-width: 60rem;
  padding: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  margin-bottom: 2.4rem;
  border-radius: 50px;
}

.search-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke: #999;
  margin-right: 0.8rem;
}

.search-txt-input {
  color: #495057;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.search-btn {
  border-left: 1px solid #adb5bd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button {
  border: none;
  color: #fff;
  background-color: #159057;
  padding: 1.6rem;
  margin-left: 0.8rem;
  font-weight: 400;
  font-size: 1.6rem;
  border-radius: 50px;
  width: 14rem;
}

/* Tags */

.tertiary-heading {
  margin-top: 3.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem;
  word-spacing: 0.5;
}

.button-tags {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.2rem;
}

.tags:link {
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border: none;
  color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  background-color: #adb5bd21;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  color: #999;
}

.rating-image-wrapper {
  position: relative;
  display: inline-block;
}

.rating-image {
  width: 24px; /* Adjust size as needed */
  position: relative;
  z-index: 1;
}

.rating-image-wrapper::before {
  content: "";
  position: absolute;
  width: 36px; /* Larger than image width */
  height: 36px;
  background-color: #feefcd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 0;
  border: 2px solid orangered;
}

.rating-text {
  font-weight: 700;
}

.rates {
  display: flex;
  gap: 0.8rem;
}
.rating-icon {
  fill: #ffa500;
  width: 20px;
  height: 20px;
}

.rating-span {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
.hero--image-box {
  padding-top: 4.8rem;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.hero-image {
  max-width: 80%;
}

/* **************************************** */

/* How it works Section */

/* **************************************** */

.how-it-works-section {
  padding: 4.8rem;
  font-family: "Jost", serif;
}

.how-it-works-texts {
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 1.6rem;
}

.how-it-works-description {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.work-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.desc-icon {
  fill: #159057;
  width: 30px;
  height: 30px;
}

.par-desc {
  color: #868e96;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: center;
}

/* **************************************** */
/* User Type Section */

/* **************************************** */

.user-type-section {
  padding: 4.8rem;
  /* padding-bottom: 0.8rem; */
}

.user-type-cta {
  padding-top: 2.4rem;
  margin-top: 1.2rem;
  font-family: "Jost", serif;
}

.types {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.employers,
.candidates {
  background-color: #d0e9dd;
  border: none;
  border-radius: 12px;
  padding: 3.2rem;
  width: 500px;
  height: 260px;
}

.employers {
  display: flex;
}

.empl-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.emp-header {
  margin-top: 3.2rem;
  font-size: 2.4rem;
  color: #010300;
  font-weight: 700;
  line-height: 1.5;
}

.emp-par {
  font-size: 1.6rem;
  color: #495057;
  font-weight: 400;
}

.posting-btn:link {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 1.6rem;
  background-color: #159057;
  color: #fff;
  border: none;
  border-radius: 100px;
  text-align: center;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.candidates {
  display: flex;
  text-align: center;
  gap: 1.6rem;
}

.emp-img {
  max-width: 55%;
}

/* **************************************** */

/* About CTA Section */

/* **************************************** */

.section-cta--about---call {
  background-color: #e8f4ee;
  padding: 4.8rem;
  color: #010300;
}

.cta--about---call {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 0.5rem 1rem;
}

.cta-about-illustration {
}

.illustration {
  background-color: #fff;
  padding: 4.8rem;
  max-width: 80%;
  border-radius: 12px;
}

.illustration-icon {
  margin-top: 1.2rem;
  margin-bottom: 1.6rem;
  width: 36px;
  height: 36px;
  color: #159057;
}

.illustration-text {
  color: #159057;
  font-size: 5.2rem;
  font-weight: 600;
}

.ill-span {
  color: #010300;
}

.ill-txt {
}
